// out:imagelightbox.css, compress: true, sourceMap: false

.imagelightbox-wrapper{
  --overlay-color: fade(black, 80%);
  --controls-color: white;
  &.light{
    --overlay-color: fade(white, 80%);
    --controls-color: black;
  }
}

// Lightbox enabled image
a.lightbox{
  cursor: zoom-in;
}

// Main Lighbox
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  top: 50%;
  touch-action: none;
}

.imagelightbox-open {
  user-select: none;
  overflow: hidden;
}

// Overlay
.imagelightbox-overlay {
  background-color: #202020;
  background-color: var(--overlay-color);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Close button
.imagelightbox-close {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 10002;
  width: 3em;
  height: 3em;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: color .3s ease;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    top: 20%;
    bottom: 20%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    width: 4px;
    background-color: var(--controls-color);
    transition: transform 0.5s ease-in-out;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover{
    &:before {
      transform: rotate(225deg);
    }
    &:after {
      transform: rotate(135deg);
    }
  }

}

// Footer
.imagelightbox-footer{
  position: fixed;
  position: fixed;
  z-index: 10001;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

// Navigation
.imagelightbox-nav {
  order:2;
  display: flex;
  gap: 0.5em;
  a {
    display: block;
    width: 0.5em;
    height: 0.5em;
    border: 2px solid var(--controls-color);
    border-radius: 9999px;
    &.active {
      background-color: var(--controls-color);
    }
  }
}

// Caption
.imagelightbox-caption {
  text-align: center;
  color: var(--controls-color);
  &:empty {
    display: none;
  }
}

// Activity Indicator
.imagelightbox-loading{
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  margin: -1.3em 0 0 -1.3em;
  &, div{
    border-radius: 9999px;
  }
  div {
    width: 2em;
    height: 2em;
    background-color: var(--controls-color);
    animation: imagelightbox-loading .75s ease infinite;
  }
}
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    transform: scale(.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .5;
    transform: scale(.75);
  }
}

// Arrows
.imagelightbox-arrow {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center center;
  background: none;
  cursor: pointer;
  border: none;
  padding: 4em 2em;
  box-sizing: border-box;
  z-index: 10001;
  &:after{
    content: "";
    display: block;
    height: 1.1em;
    width: 1.1em;
    border: 4px solid var(--controls-color);
    border-right-style: none;
    border-bottom-style: none;
    transition: transform 0.25s ease-in-out;
  }

  &.imagelightbox-arrow-left{
    left: 0;
    &:after {
      transform: rotate(-45deg);
    }
  }
  &.imagelightbox-arrow-right{
    right:0;
    &:after {
      transform: rotate(135deg);
    }
  }

  &:hover {
    &.imagelightbox-arrow-left:after {
      transform: translateX(-50%) rotate(-45deg);
    }
    &.imagelightbox-arrow-right:after {
      transform: translateX(50%) rotate(135deg);
    }
  }
  &:focus-visible{
    outline: none;
  }
}

// Fade in
.imagelightbox-loading,
.imagelightbox-overlay,
.imagelightbox-close,
.imagelightbox-nav,
.imagelightbox-arrow {
  animation: fade-in .25s linear;
}
@keyframes fade-in {
  from {
    opacity: 0;
}
  to {
    opacity: 1;
}
}

// Media Queries
@media only screen and (max-width: 41.250em) {
  #container {
    width: 100%;
  }
  .imagelightbox-close {
    top: 0.5em;
    right: 0.5em;
  }
  .imagelightbox-arrow {
    width: 1em;
    height: 1em;
    &.imagelightbox-arrow-left {
      left: 0.5em;
    }
    &.imagelightbox-arrow-right {
      right: 0.5em;
    }
  }
  .imagelightbox-nav {
    display: none;
  }
}

@media only screen and (max-width: 20em) {
  .imagelightbox-arrow{
    &.imagelightbox-arrow-left {
      left: 0.4em;
    }
    &.imagelightbox-arrow-right {
      right: 0.4em;
    }
  }
}
